* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: rgba(128, 128, 128, 0.308);
}
body {
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
body .leftPan {
  position: absolute;
  left: 0;
  top: -20px;
  width: 30vw;
  height: calc(100vh + 40px);
  padding: 20px 0;
  overflow: hidden;
  background-color: #1d1d1d;
  z-index: 998;
}
body .leftPan .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0f0f0f;
  letter-spacing: 2px;
  color: #ffa600;
  z-index: 999;
}
body .leftPan ul {
  overflow-x: hidden;
  overflow-y: scroll;
}
body .leftPan ul::-webkit-scrollbar {
  display: none;
}
body .leftPan ul li {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
body .leftPan ul li:hover p {
  color: #ffd900;
}
body .leftPan ul li p {
  padding: 10px;
  letter-spacing: 2px;
  color: #cfcfcf;
}
body .rightPan {
  position: absolute;
  left: 30vw;
  top: 0;
  width: 70vw;
  height: 100vh;
}
body .rightPan iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
body .jump {
  position: absolute;
  left: 30vw;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #cfcfcf;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
body .jump:hover {
  opacity: 1;
}
